<footer class="app-footer" role="contentinfo">
    <div class="footer-columns">
        <section aria-labelledby="foot-medi" class="col">
            <h2 id="foot-medi" class="footer-heading">MediSpa</h2>
        </section>
        <section aria-labelledby="foot-underwriter" class="col">
            <h2 id="foot-underwriter" class="footer-heading">Underwriter Support</h2>
            <ul class="contact">
                <li><span aria-label="Phone">(212) 754-1241</span></li>
                <li><a href="mailto:drp-client.servicing@email.com">drp-client.servicing@email.com</a></li>
                <li>Mon–Fri 8:30am–5:00pm<br />Sat–Sun 10:00am–2:00pm</li>
            </ul>
        </section>
        <section aria-labelledby="foot-tech" class="col">
            <h2 id="foot-tech" class="footer-heading">Technical Support</h2>
            <ul class="contact">
                <li><span aria-label="Phone">(212) 759-1241</span></li>
                <li><a href="mailto:drp-assist.servicing@email.com">drp-assist.servicing@email.com</a></li>
                <li>Mon–Fri 8:30am–5:00pm<br />Sat–Sun 10:00am–2:00pm</li>
            </ul>
        </section>
    </div>
</footer>