<mat-form-field appearance="outline" class="select-field" [floatLabel]="'always'">
  <mat-label>{{ label }}</mat-label>
  <mat-select
    [value]="value"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [required]="required"
    [attr.aria-label]="ariaLabel || label"
    (selectionChange)="onSelectionChange($event)">
    @for (option of options; track option.value) {
      <mat-option [value]="option.value">{{ option.label }}</mat-option>
    }
  </mat-select>
  @if (error) {
    <mat-error>{{ error }}</mat-error>
  }
</mat-form-field>
