<div class="radio-group" role="radiogroup" [attr.aria-labelledby]="labelId">
  <label class="radio-label" [id]="labelId">{{ label }}</label>
  <mat-radio-group
    [value]="value"
    [disabled]="disabled"
    [required]="required"
    (change)="onChange($event.value)">
    @for (option of options; track option.value) {
      <mat-radio-button [value]="option.value">{{ option.label }}</mat-radio-button>
    }
  </mat-radio-group>
  @if (error) {
    <div class="radio-error" role="alert">{{ error }}</div>
  }
</div>
